<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h4 class="text-center">Sign in</h4>
    <h5 class="text-center">to continue to Recipe Book</h5>
    <hr>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
    </form>
    <a routerLink="/signup">Create account</a>
  </div>
</div>

